/* google fonts setup */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Russo+One&display=swap');

/* set to page default */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body style */

body {
    font-family: 'Russo One', sans-serif;
    background: linear-gradient(#d764e6, #9198e5);
    min-height: 100vh;
}

/* wrapper settings */

.wrapper {
    width: 700px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}

#start-screen {
    display: block;
}

#game-screen {
    display: none;
}

#finish-screen {
    display: none;
}

/* header & headings */
header {
    margin: 0 auto;
    text-align: center;
    color: blueviolet
}

/* screens styling */

.screens {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto 0;
    text-align: center;
    padding: 10px 0;
    background-color: coral;

}

span {
    font-size: 1.3em;
    color: rgb(17, 2, 31)
}

.inside-screen {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: whitesmoke;
    padding: 30px;
    box-sizing: border-box;
}

/* start-screen infotext styling */
#rules p {
    margin: 20px 0;
}

/* start game and quit game buttons styling */
#button {
    margin: 0 auto;
    text-align: center;
}

button {
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.5em;
    background-color: orange;
    font-family: 'Russo One', sans-serif;

}